{% extends 'base.html' %}
{% block title %}Расписание{% endblock %}
{% block nav_btn_index_active %}active{% endblock %}
{% block big_title %}Расписание{% endblock %}
{% block body %}
    <div class="container">
        <p class="lead"><strong>Все расписание ниже спрасено с сайта <a href="https://www.mirea.ru/schedule/">МИРЭА</a></strong>
        </p>
        <p text-info><em>Данный сервис
            <mark>не позиционирует себя как истина в последней инстанции</mark>
            , оригинальное расписание находится на
            официальном сайте ВУЗа. Если сомневаетесь - проверьте сайт.</em></p>
        <div class="card mx-auto text-center mb-4">
            <!-- Шапка с навигацией -->
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#item1">5 курс</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#item2">4 курс</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#item3">3 курс</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#item4">2 курс</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#item5">1 курс</a>
                    </li>
                </ul>
            </div>
            <!-- Текстовый контент -->
            <div class="card-body tab-content">
                <div class="tab-pane fade show active text-left" id="item1">
                    <h4 class="card-title">Расписание для пятого курса</h4>
                    <p class="card-text"><a href="#">Для более полной информации нажми на меня</a></p>
                    <a href="#" class="btn btn-primary">Выберите группу</a>
                </div>
                <div class="tab-pane fade text-left" id="item2">
                    <h4 class="card-title">Расписание для четвертого курса</h4>
                    <p class="card-text"><a href="#">Для более полной информации нажми на меня</a></p>
                    <a href="#" class="btn btn-primary">Выберите группу</a>
                </div>
                <div class="tab-pane fade text-left" id="item3">
                    <h4 class="card-title">Расписание для третьего курса</h4>
                    <p class="card-text"><a href="#">Для более полной информации нажми на меня</a></p>
                    <a href="#" class="btn btn-primary">Выберите группу</a>
                </div>
                <div class="tab-pane fade text-left" id="item4">
                    <h4 class="card-title">Расписание для второго курса</h4>
                    <p class="card-text"><a href="#">Для более полной информации нажми на меня</a></p>
                    <a href="#" class="btn btn-primary">Выберите группу</a>
                </div>
                <div class="tab-pane fade text-left" id="item5">
                    <h4 class="card-title">Расписание для первого курса</h4>
                    <p class="card-text"><a href="#">Для более полной информации нажми на меня</a></p>
                    <a href="#" class="btn btn-primary">Выберите группу</a>
                </div>
            </div>
        </div><!-- Конец карточки -->
    </div>
{% endblock %}