{% extends 'base.html' %}
{% block title %}Расписание{% endblock %}
{% block nav_btn_index_active %}active{% endblock %}
{% block big_title %}Расписание{% endblock %}
{% block body %}
    <div class="container">
        <p class="lead"><strong>Все расписание ниже спрасено с сайта <a href="https://www.mirea.ru/schedule/">МИРЭА</a></strong>
        </p>
        <p text-info><em>Данный сервис
            <mark>не позиционирует себя как истина в последней инстанции</mark>
            , оригинальное расписание находится на
            официальном сайте ВУЗа. Если сомневаетесь - проверьте сайт.</em></p>
    </div>
    <div class="container-fluid">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">5 Курс</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">4 курс</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">3 курс</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">2 курс</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">1 курс</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Расписание для пятого курса КБСП</h5>
                <p class="card-text">Обновлено: <span class="text-success"><b>08.02.21</b></span></p>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Выберите группу
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Выберите группу</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">БИСО-01-16</a>
                        <a class="dropdown-item" href="#">БИСО-02-16</a>
                        <a class="dropdown-item" href="#">БАСО-02-16</a>

                    </div>
                </div>
                <br><br>
                <div class="overflow-auto">
                    <table class="table table-bordered" cellpadding="4">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">День недели</th>
                            <th scope="col">Пара</th>
                            <th colspan="4" scope="col">Четная неделя</th>
                            <th colspan="4" scope="col">Нечетная неделя</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2"></td>
                            <td>Предмет</td>
                            <td>Вид занятий</td>
                            <td>Преподаватель</td>
                            <td>Аудитория</td>
                            <td>Предмет</td>
                            <td>Вид занятий</td>
                            <td>Преподаватель</td>
                            <td>Аудитория</td>
                        </tr>
                        <tr>
                            <th rowspan="6" scope="row">Понедельник</th>
                            <td>1. 9-00 10-30</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>2. 10-40 12-10</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>3. 12-40 14-10</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>4. 14-20 15-50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>5. 16-20 17-50</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>6. 18-00 19-30</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}